.link-line,
.markdown-content p a,
.markdown-content li a,
.markdown-content h2 a,
.markdown-content h3 a,
.markdown-content table a {
    color: inherit;
    /* transition: color 0.3s ease; */
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.link-line::before,
.markdown-content p a::before,
.markdown-content li a::before,
.markdown-content h2 a::before,
.markdown-content h3 a::before,
.markdown-content table a::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    /* background: currentColor; */
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(1);
}

.link-line:hover,
.markdown-content p a:hover,
.markdown-content li a:hover,
.markdown-content h2 a:hover,
.markdown-content h3 a:hover,
.markdown-content table a:hover {
    color: var(--link-color);
}

.link-line:hover::before,
.markdown-content p a:hover::before,
.markdown-content li a:hover::before,
.markdown-content h2 a:hover::before,
.markdown-content h3 a:hover::before,
.markdown-content table a:hover::before {
    transform-origin: right;
    transform: scaleX(0);
}
